/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('../image/home-mbusa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    transition: background-image 3s ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}

.sub-hero-cont {
    /* border: solid 1px; */
    text-align: center;
    /* margin-bottom: 100px; */
    /* position: relative; */ 
    padding-top: 3%;
    padding-bottom: 3%;
    /* margin-top: 15%; */
    margin-bottom: 2%;
    background-color: rgba(255, 255, 255, 0);
    max-width: 860px;
    border-radius: 6px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.cta-button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cta-button:hover {
    color: black;
    background: rgba(228, 228, 228, 0.9);
}